@charset "UTF-8";

#elm {
  #settingTable {
    margin: 25px auto;
    border-collapse: collapse;
    max-width: 600px;
    .off {
      display: none;
    }
    th, td {
      border: 1px black solid;
      padding: 10px;
    }
    th {
      width: 100px;
    }
  }
  #generate_password {
    display: block;
    padding: 10px 25px;
    margin: 0 auto;
    background-color: aqua;
    cursor: pointer;
    &:hover {
      color: white;
      background-color: blue;
    }
  }
  .resultContainer {
    margin: 25px auto;
    max-width: 600px;
    max-height: 500px;
    overflow: auto;
    border: 1px black solid;
    #resultTable {
      width: 100%;
      .resultUnit {
        th, td {
          padding: 10px;
          margin: 10px;
          border-bottom: 1px lightgray solid;
          .password_text {

          }
          .password_button {
            cursor: pointer;
          }
        }
      }
    }
  }
}
